/build
/captures

# Security - Ignore sensitive keys and credentials
*.jks
*.keystore
google-services.json
secrets.xml

# Ignore User Data
/data/

# Local configuration
local.properties

# Proguard / R8 mappings
/proguard-rules.pro
/release/
